<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small"  (click)="swipeleftHandler()" color="default">Back</ion-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>
<ion-content (swipeleft)="swipeleftHandler()">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{storage.expeditor.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input required type="password" [attr.value]="password" (input)="handlePassword($event)"
          placeholder="Ввести пароль"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div class="ion-padding">
    <ion-button expand="block" (click)="send()" class="ion-no-margin">Записать</ion-button>
  </div>
</ion-content>
