<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="expeditors/authentication" (click)="select('person')" [attr.class]="selectedTab == 'person' ? 'ios tab-has-label tab-has-icon tab-layout-icon-top ion-activatable ion-selectable ion-focusable hydrated tab-selected' : 'ios tab-has-label tab-has-icon tab-layout-icon-top ion-activatable ion-selectable ion-focusable hydrated'">
      <ion-icon name="person"></ion-icon>
      <ion-label>Экспед.</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expeditors/customers" (click)="select('people')"  [attr.class]="selectedTab == 'people' ? 'ios tab-has-label tab-has-icon tab-layout-icon-top ion-activatable ion-selectable ion-focusable hydrated tab-selected' : 'ios tab-has-label tab-has-icon tab-layout-icon-top ion-activatable ion-selectable ion-focusable hydrated'">
      <ion-icon name="people"></ion-icon>
      <ion-label>Покуп.</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expeditors/invoices" (click)="select('cart')"  [attr.class]="selectedTab == 'cart' ? 'ios tab-has-label tab-has-icon tab-layout-icon-top ion-activatable ion-selectable ion-focusable hydrated tab-selected' : 'ios tab-has-label tab-has-icon tab-layout-icon-top ion-activatable ion-selectable ion-focusable hydrated'">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Накладн.</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="expeditors/payment" (click)="select('cash')"  [attr.class]="selectedTab == 'cash' ? 'ios tab-has-label tab-has-icon tab-layout-icon-top ion-activatable ion-selectable ion-focusable hydrated tab-selected' : 'ios tab-has-label tab-has-icon tab-layout-icon-top ion-activatable ion-selectable ion-focusable hydrated'">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Оплата</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="expeditors/payments" (click)="select('document')"  [attr.class]="selectedTab == 'document' ? 'ios tab-has-label tab-has-icon tab-layout-icon-top ion-activatable ion-selectable ion-focusable hydrated tab-selected' : 'ios tab-has-label tab-has-icon tab-layout-icon-top ion-activatable ion-selectable ion-focusable hydrated'">
      <ion-icon name="document"></ion-icon>
      <ion-label>Журнал</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
